@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply select-none bg-backdrop tracking-wide antialiased;
    font-family: Avenir, sans-serif;
  }

  [vaul-drawer] {
    outline: none;
  }

  /* iOS safari disabled input has opacity */
  input:disabled {
    opacity: 1;
  }
}

@layer utilities {
  .shadow-float-effect {
    @apply shadow-border;
    filter: drop-shadow(0 4px 4px rgba(0 13 32 / 0.04));
  }
}

@property --shadow-spread {
  syntax: '<length>';
  initial-value: 0;
  inherits: false;
}

@keyframes shadow-spread {
  0% {
    --shadow-spread: 0;
  }

  1% {
    --shadow-spread: 24px;
  }

  100% {
    --shadow-spread: 0;
  }
}

.shadow-spread {
  animation: shadow-spread 2s;
  animation-timing-function: cubic-bezier(0, 0.3, 0, 0);
}
