@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background-color: rgb(250 250 250 / 1);
    font-family: Avenir;
  }
}

:root {
  --rsbs-backdrop-bg: rgba(10, 10, 12, 0.4);
  --rsbs-bg: rgb(250 250 250 / 1);
  --rsbs-overlay-rounded: 16px;
}
